@charset 'utf-8';


@font-face {
    font-family: "NanumSquareR";
    src: 
         url('font/NanumSquareR.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "NanumSquareEB";
    src: 
         url('font/NanumSquareEB.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "NanumSquareB";
    src: 
         url('font/NanumSquareB.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}